Validacao/libft.h
Validacao/main ft_atoi.c
Validacao/main ft_bzero.c
Validacao/main ft_calloc.c
Validacao/main ft_isalnum.c
Validacao/main ft_isalpha.c
Validacao/main ft_isascii.c
Validacao/main ft_isdigit.c
Validacao/main ft_itoa.c
Validacao/main ft_memset.c
Validacao/main ft_strchr.c
Validacao/main ft_strdup.c
Validacao/main ft_strtrim.c
Validacao/test
Validacao/test.c
a.out
